@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* Background and Foreground */
		--background: 1, 8, 30;
		--foreground: 223, 225, 230;

		/* Card and Popover */
		--card: 21, 28, 49;
		--card-foreground: 223, 225, 230;
		--popover: 21, 28, 49;
		--popover-foreground: 223, 225, 230;

		/* Primary (Crimson Red) */
		--primary: 255, 57, 91;
		--primary-foreground: 223, 225, 230;

		/* Secondary Color */
		--secondary: 21, 28, 49;
		--secondary-foreground: 223, 225, 230;

		/* Muted (Subtle Elements) */
		--muted: 255, 195, 216;
		--muted-foreground: 223, 225, 230;

		/* Accent */
		--accent: 255, 195, 216;
		--accent-foreground: 223, 225, 230;

		/* Destructive */
		--destructive: 255, 57, 91;
		--destructive-foreground: 223, 225, 230;

		/* Border and Input */
		--border: 21, 28, 49;
		--input: 21, 28, 49;

		/* Ring (Focus States) */
		--ring: 1, 8, 30;

		/* Radius */
		--radius: 1.5rem;

		/* Chart Colors */
		--chart-1: 45, 20, 44;
		--chart-2: 128, 19, 54;
		--chart-3: 81, 10, 50;
		--chart-4: 199, 44, 65;
		--chart-5: 238, 69, 64;
	}

	.dark {
		/* Background and Foreground */
		--background: 1, 8, 30;
		--foreground: 223, 225, 230;

		/* Card and Popover */
		--card: 21, 28, 49;
		--card-foreground: 223, 225, 230;
		--popover: 21, 28, 49;
		--popover-foreground: 223, 225, 230;

		/* Primary (Crimson Red) */
		--primary: 255, 57, 91;
		--primary-foreground: 223, 225, 230;

		/* Secondary Color */
		--secondary: 21, 28, 49;
		--secondary-foreground: 223, 225, 230;

		/* Muted (Subtle Elements) */
		--muted: 255, 195, 216;
		--muted-foreground: 223, 225, 230;

		/* Accent */
		--accent: 255, 195, 216;
		--accent-foreground: 223, 225, 230;

		/* Destructive */
		--destructive: 255, 57, 91;
		--destructive-foreground: 223, 225, 230;

		/* Border and Input */
		--border: 21, 28, 49;
		--input: 21, 28, 49;

		/* Ring (Focus States) */
		--ring: 1, 8, 30;

		/* Radius */
		--radius: 0.5rem;

		/* Chart Colors */
		--chart-1: 45, 20, 44;
		--chart-2: 128, 19, 54;
		--chart-3: 81, 10, 50;
		--chart-4: 199, 44, 65;
		--chart-5: 238, 69, 64;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(50px);
	z-index: -9;
}

.perspective-transform {
	transform: perspective(1200px);
}
